/* Estilos para el componente de la caja de comentarios */
.comment-box-container {
  width: 80%;
  margin: 0 auto; /* Centramos el componente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-box-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.comment-box-container ul {
  list-style-type: none;
  padding: 0;
}

.comment-box-container li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment-box-container strong {
  color: #007bff; /* Color para el nombre */
}

.comment-box-container input[type="text"],
.comment-box-container textarea {
  width: calc(100% - 22px); /* Considerando el padding y border */
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-box-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.comment-box-container button:hover {
  background-color: #0056b3;
}
