.image-array-image-and-text-little-title {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(10, 5, 74);

    font-size: 18px;
    margin-bottom: 6rem;
}

.image-array-image-and-text-wrapper {
    padding: 6rem;
    background: #fff;
}

.image-array-image-and-text-big-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(10, 5, 74);
    margin-bottom: 2rem;
    margin-left: 0;
}

.image-array-image-and-text-unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.image-array-image-and-text-unit-image-wrapper {
    flex: 1;
    max-width: 250px;
    margin-right: 2rem;
    display: flex;
    justify-content: left;
}

.image-array-image-and-text-unit-image-wrapper>img {
    max-width: 100%;
    max-height: 250px;
}

.image-array-image-and-text-unit-text {
    flex: 2;
    margin-left: 1em;
}



.image-array-image-and-text-unit-image-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.image-array-image-and-text-unit-image-wrapper {
    flex: 1;
    max-width: 250px;
    margin-left: 2rem;
}

.image-array-image-and-text-unit-image-wrapper>img {
    max-width: 100%;
    max-height: 300px;
}

.image-array-image-and-text-unit-text {
    flex: 2;
}

.image-array-image-and-text-unit-text>p {
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 2em;
}

.image-array-image-and-text-unit-text button {
    background-color: #0034684b;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top:5em ;
    margin-left: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-array-image-and-text-unit-text button:hover {
    background-color: #0c1243;
}

@media only screen and (max-width: 960px) {

    .image-array-image-and-text-little-title {

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(10, 5, 74);
        margin-bottom: 5rem;
        margin-left: 2em;
        font-size: 20px;

    }
    
    .image-array-image-and-text-wrapper {
        padding: 4rem;
    }

    .image-array-image-and-text-unit-text>p {
        font-size: 20px;
    }

    .image-array-image-and-text-unit-image-wrapper {
        margin-right: 0;
        margin-bottom: 2em;
    }

    .image-array-image-and-text-unit-text>p {
        font-size: 20px;
    }

    .image-array-image-and-text-unit-image-wrapper {
        margin-left: 0;
        margin-bottom: 2em;
    }
}



@media only screen and (max-width: 768px) {
    .image-array-image-and-text-wrapper {
        padding: 3rem;
    }

    .image-array-image-and-text-big-title {
        margin-left: 0;
        font-size: 40px;
    }

    .image-array-image-and-text-unit {
        flex-direction: column;
        align-items: center;
    }
    .image-array-image-and-text-unit-image-wrapper>img {
        max-width: 120%;
        max-height: 300px;
    }

    .image-array-image-and-text-unit-image-wrapper {
        margin-right: 0;
        margin-bottom: 2em;
    }

    .image-array-image-and-text-unit-image-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .image-array-image-and-text-unit-image-wrapper {
        margin-left: 0;
        margin-bottom: 2em;
    }

    .image-array-image-and-text-unit-text button {
        background-image: linear-gradient(to bottom, #337fd5df, #061439eb);
        background-color: #0c1243;
        color: white;
        border: none;
        padding: 8px 16px;
        margin-top:5em ;
        margin-left: 19em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .image-array-image-and-text-unit-text button:hover {
        background-image: linear-gradient(to bottom,#061439ec, #337fd5e9);
    }
}