.home-gallery {
    padding: 20px;
    height: 1000px;
    width: auto;
    background-image: url('src/images/image4.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-gallery h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    transition: transform 0.3s;
}

.home-gallery p {
    font-size: 1.5rem;
}

.home-gallery h1:hover {
    transform: scale(1.1); 
}

@media only screen and (max-width: 960px) {

    .home-gallery h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .home-gallery p {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 768px) {

    .home-gallery h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .home-gallery p {
        font-size: 1.5rem;

    }
}
